{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/6ee1ecfcc2.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/dash.css' %}">
        <title>Loop</title>
    </head>
    <body>
        <div class="container-fluid" id="container">
            <div class="row">
                <div class="navbar navbar-default w-100 m-3 ">
                    <div class="col-3 col-sm-4 col-md-2 col-lg-1"></div>
                    <div class="col-3 col-sm-4 col-md-7 col-lg-6">
                        <a class="text-white float-left" href="{% url 'home' %}">My Dashboard</a>
                    </div>
                    <div class="col-2 col-sm-4 col-md-3 col-lg-3 my-3">
                        <div class="float-right mr-5">
                            {% if user.is_authenticated %}
                            <div class="settings mr-4 my-2">
                                <button onclick="OpenSettings()" class="btn settings-btn"><i class="fa fa-bars fa-lg"></i></button>
                                <div id="mySettings" class="settings-options">
                                    <a href="{% url 'signout' %}">Logout</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="settings">
                                <button onclick="OpenSettings()" class="settings-btn"><i class="fa fa-bars fa-lg"></i></button>
                                <div id="mySettings" class="settings-options">
                                    <a href="{% url 'signup' %}">Sign up</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-3 col-sm-4 col-md-2 col-lg-1">
                    <div class="sidenav ml-3 w-50">
                        <a class="text-center my-3" href="{% url 'home' %}"> <i class="fa fa-home fa-lg d-block"></i>Home</a>
                        <a class="text-center" href="{% url 'display_tables' user.username %}"><i class="fa fa-table fa-lg d-block"></i>Tables</a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-7 col-lg-10">
                    <div id="content", name="content", class="main">
                        {% block content %}
                        {% endblock content %}
                    </div>  
                </div>
            </div>
        </div>          
        <footer class="footer text-center font-weight-bold mx-auto w-75 mt-5">
            ©IRISHSOFT LLC
        </footer>
        <script src="{% static 'js/menu.js' %}"></script>
    </body>